@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  font-weight: 400;
  line-height: 1.2;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("assets/images/background_1920.jpg");
  background-position:  center;
  background-size: cover;
}

/* Typography */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

input[type="text"], input[type="number"] {
  background-color: #242424;
  border-color: rgba(255, 255, 255, 0.87);
  border-width: 1px;
  border-radius: 0.25em;
}

a:hover {
  color: mediumvioletred;
}
